# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please see the documentation for further information on configuration options:
# <http://www.elastic.co/guide/en/elasticsearch/reference/current/>
#
# {{ ansible_managed }}

cluster.name: nexus

path:
  home: ${karaf.base}
  conf: ${fabric.etc}
  data: ${karaf.data}/elasticsearch
  logs: ${karaf.data}/log
  work: ${java.io.tmpdir}/elasticsearch

node.data: true
node.master: true

# Disable groovy script integration
script.groovy.sandbox.enabled: false

# Disable networking
node.local: true
http.enabled: false
discovery.zen.ping.multicast.enabled: false

search.default_search_timeout: 5m

# === Cluster Configuration ===
{% for firstlevel in cluster_routing_allocation %}
{% for secondlevel in cluster_routing_allocation[firstlevel] %}
{% if cluster_routing_allocation[firstlevel][secondlevel] is mapping %}
{% for thirdlevel in cluster_routing_allocation[firstlevel][secondlevel] %}
cluster.routing.allocation.{{ firstlevel }}.{{ secondlevel }}.{{ thirdlevel }}: {{ cluster_routing_allocation[firstlevel][secondlevel][thirdlevel] }}
{% endfor %}
{% else %}
cluster.routing.allocation.{{ firstlevel }}.{{ secondlevel }}: {{ cluster_routing_allocation[firstlevel][secondlevel] }}
{% endif %}
{% endfor %}
{% endfor %}

